* {
    box-sizing: content-box;
}
form {
    background-color:#ffffff;
    width:70%;
    margin:0 auto;
    padding:15px;
}
fieldset {
    flex-direction: column;
}
input {
    width:100%;
}
button {
    background-color:rgb(0, 253, 0) ;
}
.big {
    width:100%;
}
.Tex {
    font-size: 100px;
}